{erl_opts, [debug_info]}.

{deps, [
  {hackney, "~> 1.16"},
  % {egoth, {git, "git@github.com:k8s-labs-google/erlang-goth.git", {branch, "master"}}},
  {egoth, {localdep, "erlang-goth"}},
  {jiffy, "> 0.0"}
]}.

{plugins,
  [rebar3_hex,
  {rebar_localdep, {git, "https://github.com/alinpopa/rebar3-localdep-plugin.git", {branch, "master"}}}]
}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [trace_exporter]}
]}.
