{erl_opts, [debug_info]}.

{deps, [
  {hackney, "~> 1.16"},
  {egoth, {git, "git@github.com:k8s-labs-google/erlang-goth.git", {branch, "master"}}},
  {jiffy, "> 0.0"}
]}.

{plugins, [rebar3_hex]}.
% {provider_hooks, [
%   {pre,  [{compile, {mix, find_elixir_libs}}]},
%   {post, [{compile, {mix, consolidate_protocols}}]}
% ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [trace_exporter]}
]}.
